.logo img {
  display: block;
  margin: auto;
  width: 25%;
}

.md-typeset h1, .md-typeset h2{
  color: #FFC105;
  font-weight: bold;
}

.md-typeset h3 {
  color: #FFC105;
}

.md-typeset ol li, .md-typeset ul li {
    font-weight: bold;
}