.logo img {
  display: block;
  margin: auto;
  width: 35%;
}

.md-typeset h1, .md-typeset h2{
  color: #607186;
  font-weight: bold;
}

.md-typeset h3 {
  color: #607186;
}


header.md-header {
  background-image: url("../image/bandeau.png");
  background-position: top center;
  background-size: cover;

}
nav.md-tabs {
  background-color: #9fbce2;
}

.md-ellipsis {
color: #607186;
}

.md-footer-meta {
  background-color: #9fbce2;
}

.md-tabs__link {
  font-size: 0.8rem;
}



:root {
  --background-color: #0f1923;
}

.bouton {
  text-align: center;
  margin-top: 2%;
}

.btn {
  /* Clean style */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;
  /* Clean style */
  
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7D8082;
  --button-background-color: #ece8e1;
  --highlight-color: #9fbce2;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);
  
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  transition: all .15s ease;
}

.btn__inner {
  position: relative;
  display: block;
  padding: 20px 30px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
  border-radius: 1vw;
}

.btn__inner::before {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn__inner::after {
  display: block;
  position: absolute;
  right: 0; bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all .2s ease;
}

.btn__slide {
  display: block;
  position: absolute;
  top: 0; bottom: -1px; left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all .2s ease;
}

.btn__content {
  position: relative;
}

.btn:hover {
  color: var(--button-text-color-hover);
}

.btn:hover .btn__slide {
  width: calc(100% + 15px);
}




